
.backGround{
  min-height:100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  background: #370982;
  box-shadow: 0 -140px 70px -120px #D70865 inset,
              0 -210px 70px -120px #8D127A inset,
              0 -280px 70px -120px #430987 inset;
  /* animation: background 10s infinite alternate; */
  
}



@keyframes background {
  50% {
    background: #12B3E4;
  box-shadow: 0 -150px 70px -120px #1373DF inset,
              0 -220px 70px -120px #1439DA inset,
              0 -280px 70px -120px #1439DA inset;
  }
}


.gameArea{
  margin-top: 80px;
  position: relative;
  border: 10px solid #1373DF;
  border-radius:20px;
  width: 768px;
  height: 768px;
  background: rgba(18, 179, 228, 0.2);;
}

.footer{
  height: 60px;
  width: 100%;
  margin-top: auto;
}
.container{
  height: 100%;
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container div{
  height: 90%;
}
.me img {
  border-radius: 50%;
}
.container img {
  height: 90%;
  display: block;
}

@media (max-width: 1024px){

  .gameArea{
    margin-top:40px;
    border: 5px solid #1373DF;
    border-radius:10px;
    width: 680px;
    height: 680px;
  }
  .container{
    height: 100%;
    width: 650px;
  }
}
@media (max-width: 680px){

  .gameArea{
    border: 5px solid #1373DF;
    border-radius:10px;
    width: 500px;
    height: 500px;
  }
  .container{
    height: 100%;
    width: 480px;
  }

}